* {
    margin: 0;
    padding: 0;
}

.pixel {
    margin: 0;
    width: 32px;
    height: 32px;
    border: solid black 2px;
}

.selected-pixel {
    margin: 0;
    width: 32px;
    height: 32px;
    border: solid black 2px;
    outline: solid gray 4px;
}

.tile {
    border-collapse: collapse;
    grid-area: "Tile";
    table-layout: fixed;
    width: 256px;
    height: 256px;
}

.tile-row {
    color: inherit;
}

.clear-selection {
    width: 100px;
    height: 40px;
    grid-area: buttons;
}