.pallet {
    grid-area: Pallet;
    width: 350px;
}

.pallet-color {
    color: inherit;
    display: inline-block;
    border: solid gray 2px;
    width: 350px;
    overflow: hidden;
}



.pallet-color input {
    width: 64px;
    padding: 2px 4px;
    vertical-align: middle;
}

.pallet-color-sample {
    vertical-align:middle;
    margin: 4px 4px;
    padding: 2px 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
}