/* div.sprite is used for precedence in cascade */
div.sprite {
  border: solid gray 4px;
  border-radius: 2px;
  grid-area: Sprite;
  display: grid;
  height: min-content;
  width: min-content;
}

.sprite-8 {
  width: 300px;
  grid-template:
    "tile0 tile1" 274px
    "tile16 tile17" 274px / 274px 274px;
}

.sprite-16 {
  width: 600px;
  margin: 4px;
  padding: 16px;
  grid-template:
    "tile0 tile1" 274px
    "tile16 tile17" 274px / 274px 274px;
}

.sprite-32 {
  width: 1200px;
  margin: 4px;
  padding: 16px;
  grid-template:
    "tile0 tile1 tile2 tile3" 274px
    "tile16 tile17 tile18 tile19" 274px
    "tile32 tile33 tile34 tile35" 274px
    "tile48 tile49 tile50 tile51" 274px / 274px 274px 274px 274px;
}

.sprite-64 {
  width: 2400px;
  margin: 4px;
  padding: 16px;
  grid-template:
    "tile0  tile1  tile2  tile3  tile4  tile5  tile6  tile7" 274px
    "tile16  tile17  tile18  tile19  tile20  tile21  tile22  tile23" 274px
    "tile32  tile33  tile34  tile35  tile36  tile37  tile38  tile39" 274px
    "tile48  tile49  tile50  tile51  tile52  tile53  tile54  tile55" 274px
    "tile64  tile65  tile66  tile67  tile68  tile69  tile70  tile71" 274px
    "tile80  tile81  tile82  tile83  tile84  tile85  tile86  tile87" 274px
    "tile96  tile97  tile98  tile99  tile100  tile101  tile102  tile103" 274px
    "tile112  tile113  tile114  tile115  tile116  tile117  tile118  tile119" 274px / 274px 274px 274px 274px 274px 274px 274px 274px;
}
